%div.row
  Filters:
  %input#filters.form-control{:rows => 3, :type => 'text', :value => ''}
  X-Coordinate:
  %textarea#x-coordinate.form-control{:rows => 3}= "sex\nuser\nbyte\n"
  Y-Coordinate:
  %textarea#y-coordinate.form-control{:rows => 3}= "req\ntime\n"
  %div
    %button#update2 Update2
