div.label {
  background-color: #FFFFFF;
  border-radius: 3px;
  color: #000;

  z-index: 5;
  position: absolute;
  visibility: visible;

  font-family: trebuchet ms, helvetica, sans-serif;
  opacity: 0.6;
  border-width: 0;
}

.x-axis-group.axis path{
  fill: #ccc;
  stroke: #ccc;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.y-axis-group.axis path{
  fill: #ccc;
  stroke: #ccc;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
